absl-py==2.1.0
affine==2.4.0
attrs==23.2.0
certifi==2024.2.2
chardet==5.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
dill==0.3.8
ezdxf==1.1.4
fonttools==4.47.2
freetype-py==2.4.0
hsluv==5.0.4
kiwisolver==1.4.5
lxml==5.1.0
matplotlib==3.8.2
numpy==1.26.3
ortools==9.8.3296
packaging==23.2
pandas==2.2.0
pillow==10.2.0
protobuf==4.25.2
PyOpenGL==3.1.7
pyparsing==3.1.1
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
qrcode==7.4.2
rasterio==1.3.9
reportlab==4.0.9
Rtree==1.2.0
shapely==2.0.2
simplejson==3.19.2
six==1.16.0
snuggs==1.4.7
svg.path==6.3
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.9.0
tzdata==2023.4
vispy==0.9.0
webencodings==0.5.1
